@charset "utf-8";
/* CSS Document */

.main{
	width:1180px;
	background:#FFFFFF;
	margin:20px auto;
	
	}
.left{
	width:240px;
	}

.text1{
	width:240px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#FF571A;
	background:#F5F5F5;
	border:1px solid #DDDDDD;
	}
.text2{
	width:220px;
	border-bottom:2px solid #DDDDDD;
	margin:0 10px;
	padding-bottom:30px;
	margin-top:20px;
	}
.txt1{
	width:220px;
	height:30px;
	font-family:"微软雅黑";
	
	}
.t1{
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#333333;
	}
.t2{
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#666666;
	cursor:pointer;
	}
.t2:hover{color:#FF571A;}	
.txt2{
	width:240px;
	font-family:"微软雅黑";
	
	}
.txt2 a{
	line-height:30px;
	font-size:12px;
	color:#666666;
	margin:0 15px;
	text-decoration:none;
	}
.txt2 a:hover{color:#FF571A;}
.bor{
	border:1px solid #EDEDED;
	margin-top:20px
	}
	
.square{
	width:24px;
	height:8px;
	background:#D9D9D9;
	margin:0 1px;
	cursor:pointer;
	}	

.txt3{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#333333;
	font-family:"微软雅黑";
	position:relative;
	}
.po{
	font-size:12px;
	color:#666666;
	position:absolute;
	right:0px;
	top:0px;
	
	}
.in{width:20px;outline:none;}
.into{text-align:center;padding:2px;}		
.txt4{
	margin-top:20px;
	}
.txt5{
	font-size:14px;
	color:#8C8F9D;
	}
.math{
	margin:0 7px;
	cursor:pointer;
	}
.square:hover{background:#FF571A;}
.po:hover{
	width:100px;
	border:1px solid #EDEDED;
	right:-30px;
	top:2px;
	padding-left:10px;
	padding-bottom:0px;
	}
.dis{display:none;}
.po:hover .dis{display:block;}


.car1{
	width:50px;
	height:20px;
	}
.cart1{
	background:url(image/car_modal_sprite.png) no-repeat 0 0 ;
	}
.cart2{
	background:url(image/car_modal_sprite.png) no-repeat -50px 0 ;
	}
.cart3{
	background:url(image/car_modal_sprite.png) no-repeat -100px 0 ;
	}
.cart4{
	background:url(image/car_modal_sprite.png) no-repeat 0 -20px ;
	}
.cart5{
	background:url(image/car_modal_sprite.png) no-repeat -50px -20px ;
	}
.cart6{
	background:url(image/car_modal_sprite.png) no-repeat -100px -20px ;
	}
.cart7{
	background:url(image/car_modal_sprite.png) no-repeat 0 -40px ;
	}
.cart8{
	background:url(image/car_modal_sprite.png) no-repeat -50px -40px ;
	}
.cart9{
	background:url(image/car_modal_sprite.png) no-repeat -100px -40px ;
	}	
.car2{
	font-family:"微软雅黑";
	font-size:12px;
	color:#333333;
	padding-left:3px;
	}
.ty{padding:10px 10px;cursor:pointer;}	
.ty:hover .car2{color:#FF571A;}	


.sta{width:90px;height:30px;outline:none;cursor:pointer;}

.stb{width:220px;height:30px;outline:none;cursor:pointer;}
