@charset "utf-8";
/* CSS Document */

.f1{font-size:18px;font-family:"微软雅黑";color:#444444;text-align:center;}
.f2{font-size:14px;font-family:"微软雅黑";color:#999999;text-align:center;}
.ma{width:1180px;margin:0 auto;}
.fa{width:285px;height:240px;cursor:pointer;}
.fat{position:relative;}
.fa1{position:absolute;left:70px;top:100px;}
.pl{margin-left:10px;}
.pr{margin-right:10px;}
.pl:hover .fa1{left:60px;transition:left 0.5s }
.pr:hover .fa1{left:60px;transition:left 0.5s }
.mag{margin:20px 0; }